$color-black: #000000;
$color-white: #ffffff;

$color-blue-1: #2468f2;
$color-blue-2: #006382;
$color-blue-3: #1d7fff;

$color-gray-1: #e6e6e6;

$font-size-1: 0.14rem;
$font-size-2: 0.16rem;
$font-size-3: 0.18rem;
$font-size-4: 0.24rem;
$font-size-5: 0.28rem;
$font-size-6: 0.32rem;
$font-size-7: 0.54rem;
$font-size-8: 0.64rem;
