* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100px; // webview上不能低于8px
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 0.16rem;
  font-family: "Microsoft YaHei", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
    "PingFang SC", "Helvetica Neue", Roboto, Noto Sans, Noto Sans JP,
    Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew,
    Noto Sans Bengali, Avenir, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border: none;
  outline: none;
  display: inline-block;
}

input {
  border: none;
  outline: none;
  display: inline-block;
}

input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border-spacing: 0;
  border-collapse: collapse;
}
table {
  table-layout: fixed;
}
